<%= simple_form_for(['equipment',@transformer]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nomenclatura %>
       <%= f.label :Tipo_de_transformador %>
      <%= f.select :transformador_type, Transformer.transformador_types.keys.to_a, { prompt: 'Seleccionar' }  %>
    <%= f.input :phase_type %>
    <%= f.input :numero_activo_fijo %>
    <%= f.input :fecha_puesta_servicio %>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Fase</th>
      </tr>
    </thead>
    <tbody class='tasks'>
      <%= f.simple_fields_for :phases do |builder| %>
        <%= render 'phase_fields', f: builder %>
      <% end %>
    </tbody>

  </table>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to_add_association 'Agregar Fase', f, :phases %>
  </div>

<% end %>
