<tr class="nested-fields">
  <td>
    <%= link_to_remove_association "Eliminar Boquilla", f, class: 'btn btn-primary btn-xs' %>
  </td>
    <td><%= f.input :marca %></td>
    <td><%= f.input :tipo %></td>
    <td><%= f.input :num_serie %></td>
    <td><%= f.input :kv %></td>
    <td><%= f.input :amp %></td>
    <td><%= f.input :fecha_fabricacion %></td>

</tr>
