<tr class="nested-fields">
  <td>
    <%= link_to_remove_association "Eliminar fase", f, class: 'btn btn-primary btn-xs' %>
  </td>
    <td>
     <%= f.label :Fase %>
     <%= f.select :fase, Phase.fases.keys.to_a, { prompt: 'Seleccionar' }  %> </td>
    <td><%= f.input :marca %></td>
    <td><%= f.input :num_serie %></td>
    <td><%= f.input :fecha_fabricacion %></td>
    <td><%= f.input :impedencia_max_hx_capacidad %></td>
    <td><%= f.input :impedancia_max_hy_capacidad %></td>
    <td><%= f.input :impedancia_max_xy_capacidad %></td>
    <td><%= f.input :relacion_transformacion %></td>
    <td><%= f.input :capacidad_transformacion %></td>
    <td><%= f.input :masa_embarque %></td>
    <td><%= f.input :esquema_nucleo %></td>
    <td><%= f.input :total_aceite %></td>
    <td><%= f.input :sistema_enfriamiento %></td>
    <td><%= f.input :mampara %></td>
    <td><%= f.input :cambiador_taps %></td>
    <td><%= f.input :num_taps %></td>
    <td><%= f.input :sistema_contra_incendios %></td>
    <td><%= f.input :fosa_captadora_aceite %></td>
    <td><%= f.input :tension_sistema %></td>
    <td><%= f.input :capacitancia %></td>
    <td><%= f.input :clase_exactitud %></td>
    <td><%= f.input :tipo_expancion_aceite %></td>
    <td><%= f.input :tipo_envolvente %></td>
    <td><%= f.input :mva %></td>
    <td><%= f.input :kv_nom_at %></td>
    <td><%= f.input :kv_nom_bt %></td>
    <td><%= f.input :kv_nom_terciario %></td>
    <td><%= f.input :porcentage_z %></td>
    <td><%= f.input :fecha_puesta_servicio %></td>
    <td>
  <div class="tap_changers">
        <h3>Cambiador de Taps</h3>
        <%= f.simple_fields_for :tap_changers do |tap_changer| %>
            <%= render 'tap_changer_fields', f: tap_changer %>
        <% end %>
      <div class="links">
        <%= link_to_add_association 'Agregar Cambiador de Taps', f, :tap_changers %>
      </div>
  </div>
    </td>
  <td>
  <div class="trans_mouthpieces">
    <h3>Boquillas</h3>
    <%= f.simple_fields_for :trans_mouthpieces do |trans_mouthpiece| %>
        <%= render 'trans_mouthpiece_fields', f: trans_mouthpiece %>
    <% end %>
  <div class="links">
    <%= link_to_add_association 'Agregar Boquilla', f, :trans_mouthpieces %>
  </div>
</div>
 </td>
</tr>
