<tr class="nested-fields">
  <td>
    <%= link_to_remove_association "Eliminar cambiador de taps", f, class: 'btn btn-primary btn-xs' %>
  </td>
    <td><%= f.input :marca %></td>
    <td><%= f.input :tipo %></td>
    <td><%= f.input :serie %></td>
    <td><%= f.input :num_pasos %></td>


</tr>
