<p id="notice"><%= notice %></p>

<p>
  <strong>Nomenclatura:</strong>
  <%= @equipment_blade.nomenclatura %>
</p>

<p>
  <strong>Cuchilla type:</strong>
  <%= @equipment_blade.cuchilla_type %>
</p>

<p>
  <strong>Mecanismo type:</strong>
  <%= @equipment_blade.mecanismo_type %>
</p>

<p>
  <strong>Nivel basico impulso:</strong>
  <%= @equipment_blade.nivel_basico_impulso %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @equipment_blade.marca %>
</p>

<p>
  <strong>Num serie:</strong>
  <%= @equipment_blade.num_serie %>
</p>

<p>
  <strong>Kv nom:</strong>
  <%= @equipment_blade.kv_nom %>
</p>

<p>
  <strong>Amp nom:</strong>
  <%= @equipment_blade.amp_nom %>
</p>

<p>
  <strong>Tension sistema:</strong>
  <%= @equipment_blade.tension_sistema %>
</p>

<p>
  <strong>Fecha puesta servicio:</strong>
  <%= @equipment_blade.fecha_puesta_servicio %>
</p>

<p>
  <strong>Fecha fabricacion:</strong>
  <%= @equipment_blade.fecha_fabricacion %>
</p>

<%= link_to 'Edit', edit_equipment_blade_path(@equipment_blade) %> |
<%= link_to 'Back', equipment_blades_path %>
