<p id="notice"><%= notice %></p>

<h1>Equipment Lightning Arresters</h1>

<table>
  <thead>
    <tr>
      <th>Nomenclatura</th>
      <th>Num secciones</th>
      <th>Apartarrayos type</th>
      <th>Descarga ka</th>
      <th>Kv sist</th>
      <th>Marca</th>
      <th>Num serie</th>
      <th>Fecha fabricacion</th>
      <th>Fecha puesta servicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_lightning_arresters.each do |equipment_lightning_arrester| %>
      <tr>
        <td><%= equipment_lightning_arrester.nomenclatura %></td>
        <td><%= equipment_lightning_arrester.num_secciones %></td>
        <td><%= equipment_lightning_arrester.apartarrayos_type %></td>
        <td><%= equipment_lightning_arrester.descarga_ka %></td>
        <td><%= equipment_lightning_arrester.kv_sist %></td>
        <td><%= equipment_lightning_arrester.marca %></td>
        <td><%= equipment_lightning_arrester.num_serie %></td>
        <td><%= equipment_lightning_arrester.fecha_fabricacion %></td>
        <td><%= equipment_lightning_arrester.fecha_puesta_servicio %></td>
        <td><%= link_to 'Show', equipment_lightning_arrester %></td>
        <td><%= link_to 'Edit', edit_equipment_lightning_arrester_path(equipment_lightning_arrester) %></td>
        <td><%= link_to 'Destroy', equipment_lightning_arrester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment Lightning Arrester', new_equipment_lightning_arrester_path %>
