<p id="notice"><%= notice %></p>

<h1>Interruptores</h1>

<table>
  <thead>
    <tr>
      <th>Nomenclatura</th>
      <th>Tipo deInterruptor</th>
      <th>Tipo de Mecanismo </th>
      <th>Marca</th>
      <th>Voltaje control</th>
      <th>Tension fuerza</th>
      <th>Tension sistema</th>
      <th>Numero serie</th>
      <th>Kv nom</th>
      <th>Amp nom</th>
      <th>Capacidad interruptiva</th>
      <th>Nivel basico impulso</th>
      <th>Medio ext</th>
      <th>Fecha fabricacion</th>
      <th>Fecha puesta servicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @switches.each do |switch| %>
      <tr>
        <td><%= switch.nomenclatura %></td>
        <td><%= switch.interruptor_type %></td>
        <td><%= switch.mecanismo_type %></td>
        <td><%= switch.marca %></td>
        <td><%= switch.voltaje_control %></td>
        <td><%= switch.tension_fuerza %></td>
        <td><%= switch.tension_sistema %></td>
        <td><%= switch.num_serie %></td>
        <td><%= switch.kv_nom %></td>
        <td><%= switch.amp_nom %></td>
        <td><%= switch.capacidad_interruptiva %></td>
        <td><%= switch.nivel_basico_impulso %></td>
        <td><%= switch.medio_ext %></td>
        <td><%= switch.fecha_fabricacion %></td>
        <td><%= switch.fecha_puesta_servicio %></td>
        <td><%= link_to 'Show', equipment_switch_path(switch) %></td>
        <td><%= link_to 'Edit', edit_equipment_switch_path(switch) %></td>
        <td><%= link_to 'Destroy', equipment_switch_path(switch), method: :delete, data: { confirm: 'Seguro de eliminar este elemento?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Interruptor', new_equipment_switch_path %>
