<p id="notice"><%= notice %></p>

<p>
  <strong>Nomenclatura:</strong>
  <%= @equipment_switch.nomenclatura %>
</p>

<p>
  <strong>Interruptor type:</strong>
  <%= @equipment_switch.interruptor_type %>
</p>

<p>
  <strong>Mecanismo type:</strong>
  <%= @equipment_switch.mecanismo_type %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @equipment_switch.marca %>
</p>

<p>
  <strong>Voltaje control:</strong>
  <%= @equipment_switch.voltaje_control %>
</p>

<p>
  <strong>Tension fuerza:</strong>
  <%= @equipment_switch.tension_fuerza %>
</p>

<p>
  <strong>Tension sistema:</strong>
  <%= @equipment_switch.tension_sistema %>
</p>

<p>
  <strong>Num serie:</strong>
  <%= @equipment_switch.num_serie %>
</p>

<p>
  <strong>Kv nom:</strong>
  <%= @equipment_switch.kv_nom %>
</p>

<p>
  <strong>Amp nom:</strong>
  <%= @equipment_switch.amp_nom %>
</p>

<p>
  <strong>Capacidad interruptiva:</strong>
  <%= @equipment_switch.capacidad_interruptiva %>
</p>

<p>
  <strong>Nivel basico impulso:</strong>
  <%= @equipment_switch.nivel_basico_impulso %>
</p>

<p>
  <strong>Medio ext:</strong>
  <%= @equipment_switch.medio_ext %>
</p>

<p>
  <strong>Fecha fabricacion:</strong>
  <%= @equipment_switch.fecha_fabricacion %>
</p>

<p>
  <strong>Fecha puesta servicio:</strong>
  <%= @equipment_switch.fecha_puesta_servicio %>
</p>

<%= link_to 'Edit', edit_equipment_switch_path(@equipment_switch) %> |
<%= link_to 'Back', equipment_switches_path %>
