<p id="notice"><%= notice %></p>

<h1>Bancos de Baterias</h1>

<table>
  <thead>
    <tr>
      <th>Nomenclatura</th>
      <th>Marca</th>
      <th>Tipo de Banco baterias</th>
      <th>Num celdas</th>
      <th>Capacidad ah</th>
      <th>Volts totales</th>
      <th>Fecha puesta servicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @battery_banks.each do |battery_bank| %>
      <tr>
        <td><%= battery_bank.nomenclatura %></td>
        <td><%= battery_bank.marca %></td>
        <td><%= battery_bank.banco_baterias_type %></td>
        <td><%= battery_bank.num_celdas %></td>
        <td><%= battery_bank.capacidad_ah %></td>
        <td><%= battery_bank.volts_totales %></td>
        <td><%= battery_bank.fecha_puesta_servicio %></td>
        <td><%= link_to 'Show', equipment_battery_bank_path(battery_bank) %></td>
        <td><%= link_to 'Edit', edit_equipment_battery_bank_path(battery_bank) %></td>
        <td><%= link_to 'Destroy',equipment_battery_bank_path(battery_bank), method: :delete, data: { confirm: 'Seguro de eliminar este elemento?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Banco de Baterías', new_equipment_battery_bank_path %>
