<p id="notice"><%= notice %></p>

<p>
  <strong>Nomenclatura:</strong>
  <%= @equipment_battery_bank.nomenclatura %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @equipment_battery_bank.marca %>
</p>

<p>
  <strong>Banco baterias type:</strong>
  <%= @equipment_battery_bank.banco_baterias_type %>
</p>

<p>
  <strong>Num celdas:</strong>
  <%= @equipment_battery_bank.num_celdas %>
</p>

<p>
  <strong>Capacidad ah:</strong>
  <%= @equipment_battery_bank.capacidad_ah %>
</p>

<p>
  <strong>Volts totales:</strong>
  <%= @equipment_battery_bank.volts_totales %>
</p>

<p>
  <strong>Fecha puesta servicio:</strong>
  <%= @equipment_battery_bank.fecha_puesta_servicio %>
</p>

<%= link_to 'Edit', edit_equipment_battery_bank_path(@equipment_battery_bank) %> |
<%= link_to 'Back', equipment_battery_banks_path %>
