<%= simple_form_for(['medition',@measurement_equipment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :tipo_de_equipo_de_medición %>
    <%= f.select :equipo_medicion_type, MeasurementEquipment.equipo_medicion_types.keys.to_a, { prompt: '- Seleccionar -' } %>
    <%= f.input :modelo %>
    <%= f.input :marca %>
    <%= f.input :num_serie %>
    <%= f.input :num_inv_eimp %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
