<%= simple_form_for(['equipment',@reactor]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nomenclatura %>
    <%= f.label :Tipo_de_reactor%>
    <%= f.select :reactor_type, Reactor.reactor_types.keys.to_a, { prompt: '- Seleccionar -' } %>
    <%= f.input :marca %>
    <%= f.input :num_serie %>
    <%= f.input :mva %>
    <%= f.input :clase_enf %>
    <%= f.input :kv_nom_at %>
    <%= f.input :kv_nom_bt %>
    <%= f.input :kv_nom_terciario %>
    <%= f.input :fecha_fabricacion %>
    <%= f.input :fecha_puesta_servicio %>
  </div>

  <div class="react_mouthpieces">
    <h3>Boquillas</h3>
    <%= f.simple_fields_for :react_mouthpieces do |react_mouthpiece| %>
        <%= render 'react_mouthpiece_fields', f: react_mouthpiece %>
    <% end %>
    <div class="links">
       <%= f.button :submit %>
      <%= link_to_add_association 'Agregar Boquilla a Reactor', f, :react_mouthpieces %>
    </div>
  </div>


<% end %>
