<p id="notice"><%= notice %></p>

<h1>Equipment Reactors</h1>

<table>
  <thead>
    <tr>
      <th>Nomenclatura</th>
      <th>Reactor type</th>
      <th>Marca</th>
      <th>Num serie</th>
      <th>Mva</th>
      <th>Clase enf</th>
      <th>Kv nom at</th>
      <th>Kv nom bt</th>
      <th>Kv nom terciario</th>
      <th>Fecha fabricacion</th>
      <th>Porcentaje z</th>
      <th>Fecha puesta servicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reactors.each do |reactor| %>
      <tr>
        <td><%= reactor.nomenclatura %></td>
        <td><%= reactor.reactor_type %></td>
        <td><%= reactor.marca %></td>
        <td><%= reactor.num_serie %></td>
        <td><%= reactor.mva %></td>
        <td><%= reactor.clase_enf %></td>
        <td><%= reactor.kv_nom_at %></td>
        <td><%= reactor.kv_nom_bt %></td>
        <td><%= reactor.kv_nom_terciario %></td>
        <td><%= reactor.fecha_fabricacion %></td>
        <td><%= reactor.fecha_puesta_servicio %></td>
        <td><%= link_to 'Show',  equipment_reactor_path(reactor) %></td>
        <td><%= link_to 'Edit', edit_equipment_reactor_path(reactor) %></td>
        <td><%= link_to 'Destroy', equipment_reactor_path(reactor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment Reactor', new_equipment_reactor_path %>
