<p id="notice"><%= notice %></p>

<p>
  <strong>Nomenclatura:</strong>
  <%= @reactor.nomenclatura %>
</p>

<p>
  <strong>Reactor type:</strong>
  <%= @reactor.reactor_type %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @reactor.marca %>
</p>

<p>
  <strong>Num serie:</strong>
  <%= @reactor.num_serie %>
</p>

<p>
  <strong>Mva:</strong>
  <%= @reactor.mva %>
</p>

<p>
  <strong>Clase enf:</strong>
  <%= @reactor.clase_enf %>
</p>

<p>
  <strong>Kv nom at:</strong>
  <%= @reactor.kv_nom_at %>
</p>

<p>
  <strong>Kv nom bt:</strong>
  <%= @reactor.kv_nom_bt %>
</p>

<p>
  <strong>Kv nom terciario:</strong>
  <%= @reactor.kv_nom_terciario %>
</p>

<p>
  <strong>Fecha fabricacion:</strong>
  <%= @reactor.fecha_fabricacion %>
</p>

<p>
  <strong>Fecha puesta servicio:</strong>
  <%= @reactor.fecha_puesta_servicio %>
</p>

 <p>
  <strong>Boquillas </strong>
    <%  @reactor.react_mouthpieces.each do |t| %>
        <li> <%= t.marca %> </li>
        <li> <%= t.tipo %> </li>
        <li> <%= t.num_serie %> </li>
        <li> <%= t.kv %> </li>
        <li> <%= t.amp %> </li>
        <li> <%= t.fecha_fabricacion %> </li>
    <% end %>
</p>

<%= link_to 'Edit', edit_equipment_reactor_path(@reactor) %> |
<%= link_to 'Back', equipment_reactors_path %>
