<p id="notice"><%= notice %></p>

<p>
  <strong>Nomenclatura:</strong>
  <%= @equipment_reactor.nomenclatura %>
</p>

<p>
  <strong>Reactor type:</strong>
  <%= @equipment_reactor.reactor_type %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @equipment_reactor.marca %>
</p>

<p>
  <strong>Num serie:</strong>
  <%= @equipment_reactor.num_serie %>
</p>

<p>
  <strong>Mva:</strong>
  <%= @equipment_reactor.mva %>
</p>

<p>
  <strong>Clase enf:</strong>
  <%= @equipment_reactor.clase_enf %>
</p>

<p>
  <strong>Kv nom at:</strong>
  <%= @equipment_reactor.kv_nom_at %>
</p>

<p>
  <strong>Kv nom bt:</strong>
  <%= @equipment_reactor.kv_nom_bt %>
</p>

<p>
  <strong>Kv nom terciario:</strong>
  <%= @equipment_reactor.kv_nom_terciario %>
</p>

<p>
  <strong>Fecha fabricacion:</strong>
  <%= @equipment_reactor.fecha_fabricacion %>
</p>

<p>
  <strong>Porcentaje z:</strong>
  <%= @equipment_reactor.porcentaje_z %>
</p>

<p>
  <strong>Fecha puesta servicio:</strong>
  <%= @equipment_reactor.fecha_puesta_servicio %>
</p>

<%= link_to 'Edit', edit_equipment_reactor_path(@equipment_reactor) %> |
<%= link_to 'Back', equipment_reactors_path %>
